/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */


/* Custom tab content */
.tab-content {
    padding: 25px;
    border-bottom: 1px solid #525866;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #252934;
  color: darkgray;
  text-align: center;
}

.navbar-brand img{
    margin: -5px 0 0 0;
}

.navbar-text {
    margin-left: 0;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.no-gutter > [class*='col-'] {
    padding-right: 4px;
    padding-left: 4px;
}

/* Padding for spacing */
.inner {
  padding-top: 10px;
}
/*
 * Header
 */
.cover {
  padding: 0 60px 40px 60px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.lead {
    color: #ffe344;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.8;
}

.qustion {
    color: white;
    font-size: 18px;
    margin-top: 5px;
    -moz-border-radius: 700px; 
    -webkit-border-radius: 700px; 
    border-radius: 700px;
    width: 25px;
    background-color: #b72b43;
}

/*
 * Footer
 */



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    margin-bottom: 100px;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (max-width: 768px) {
    .lead {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1200px;
  }
}
