/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */


/* Custom tab content */
.tab-content {
    padding: 25px;
    border-bottom: 1px solid #525866;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  text-align: center;
}

.navbar-brand img{
    margin: -5px 0 0 0;
}

.navbar-text {
    margin-left: 0;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.no-gutter > [class*='col-'] {
    padding-right: 4px;
    padding-left: 4px;
}

/* Padding for spacing */
.inner {
  padding-top: 10px;
}
/*
 * Header
 */
.cover {
  padding: 0 60px 40px 60px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}




.sidebar {
    display: none;
    position: fixed;
    top: 52px;
    bottom: 40px;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #5a6071;
    width: 200px;
    text-align: left;
}

.community {
    background-color: #ffbc50;
    height: 75px;
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
    padding-top:8px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-bottom: 20px;
}

.nav-sidebar img {
    height: 20px;
    margin-right: 10px;
}

.nav-sidebar > li:first-child  {
    color: #ccc;
    padding-left: 60px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 25px;
  color: #fff;
  transition: all ease 0.3s;
}

.nav-sidebar > li > a:hover {
    color: #eee;
    background-color: #3c4355;
}


.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus {
  color: #ffe344;
  background-color: #252934;
  border-left: 4px solid #ffe344;
}



/*
 * Footer
 */



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    margin-bottom: 100px;
      
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #252934;
  }
  /* Start the vertical centering */
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (max-width: 768px) {
    .lead {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
  .masthead,
  .mastfoot,
  .cover-container {
/*    width: 1200px;*/
  }
}
